SoapAssignment/WebContent/wsdl/Person_Interface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapassignment.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soapassignment.com" xmlns:intf="http://soapassignment.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soapassignment.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="deletePerson">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletePersonResponse">
    <complexType>
     <sequence>
      <element name="deletePersonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPersons">
    <complexType>
     <sequence>
      <element name="k" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPersonsResponse">
    <complexType>
     <sequence>
      <element name="getPersonsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPerson">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="id" type="xsd:int"/>
      <element name="age" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPersonResponse">
    <complexType>
     <sequence>
      <element name="addPersonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePerson">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="name" type="xsd:string"/>
      <element name="age" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePersonResponse">
    <complexType>
     <sequence>
      <element name="updatePersonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="deletePersonRequest">

      <wsdl:part element="impl:deletePerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPersonsResponse">

      <wsdl:part element="impl:getPersonsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPersonRequest">

      <wsdl:part element="impl:addPerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePersonRequest">

      <wsdl:part element="impl:updatePerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePersonResponse">

      <wsdl:part element="impl:updatePersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPersonsRequest">

      <wsdl:part element="impl:getPersons" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPersonResponse">

      <wsdl:part element="impl:addPersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletePersonResponse">

      <wsdl:part element="impl:deletePersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Person_Interface">

      <wsdl:operation name="deletePerson">

         <wsdl:input message="impl:deletePersonRequest" name="deletePersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:deletePersonResponse" name="deletePersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPersons">

         <wsdl:input message="impl:getPersonsRequest" name="getPersonsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPersonsResponse" name="getPersonsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPerson">

         <wsdl:input message="impl:addPersonRequest" name="addPersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:addPersonResponse" name="addPersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePerson">

         <wsdl:input message="impl:updatePersonRequest" name="updatePersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:updatePersonResponse" name="updatePersonResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Person_InterfaceSoapBinding" type="impl:Person_Interface">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deletePerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deletePersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deletePersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPersons">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPersonsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPersonsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updatePersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updatePersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Person_InterfaceService">

      <wsdl:port binding="impl:Person_InterfaceSoapBinding" name="Person_Interface">

         <wsdlsoap:address location="http://localhost:8111/SoapAssignment/services/Person_Interface"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
